{% extends "layout.html" %}

{% block body %}

<section class="home-about-area pt-120">
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            <tbody>
                {% for i in contact %}
              <tr>
                <th scope="row">1</th>
                <td>{{i.ID}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.message}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

    </div>

</section>

{% endblock %}